:root {
  --fontePadrao: "Montserrat", sans-serif;
  --fonteDestaque: "Oswald", sans-serif;
  --corFundo: #f1e3df;
  --corTexto: #040202;
  --botaoPrincipal: #a5d9b0;
  --botaoSecundario: #faf6f4;
  --destaque: #b0a5d9;
}

main {
  max-width: 1000px;
  background-color: var(--corFundo);
  border: .5px solid darkgray;
  border-top: none;
  margin: auto;
  padding: 10px;
}
p {
  text-align: justify;
  text-indent: 10px;
}
.title {
  font-family: var(--fonteDestaque);
  font-variant: small-caps;
  font-weight: normal;
  font-size: 2rem;
}

#sobre {
  padding: 5px 20px 20px 20px;
  border-bottom: .5px solid darkgray;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
}
.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projeto h3 {
  width: 450px;
  background-color: var(--destaque);
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.image {
  width: 450px;
  background-color: var(--destaque);
}

.descricao {
  width: 450px;
  background-color: var(--destaque);
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
}

@media only screen and (max-width: 950px) {
  .container {
    grid-template-columns: 100%;
    justify-items: left; 
  }
  .projeto-parent {
    display: flex;
    flex-direction: row;
  }
  .image {
    width: 400px;
  }
  .descricao {
    width: calc(100vw - 420px);
    max-height: 191.8px;
  }
}

@media only screen and (max-width: 750px) {
  .image {
    width: 350px;
  }
  .descricao {
    width: calc(100vw - 370px);
  }
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 100%;
    justify-items: center; 
  }
  .projeto-parent {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 90vw;
  }
  .descricao {
    width: 90vw;
  }
}