/* Fontes Montserrat e Oswald */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500;700&display=swap");

/* Variáveis  */
:root {
  --fontePadrao: "Montserrat", sans-serif;
  --fonteDestaque: "Oswald", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  font-family: var(--fontePadrao);
}
/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 75px;
  background-color: lightgray;
  border-bottom: 0.5px solid darkgray;
}
#header {
  display: flex;
  align-items: center;
  gap: 15px;
}
#title {
  font-family: var(--fonteDestaque);
  font-variant: small-caps;
  font-weight: normal;
  font-size: 3rem;
}
#logo {
  height: 70px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
nav > a, #closeMenu {
  font-family: var(--fonteDestaque);
  font-size: 1.4rem;
  border: 0.5px solid rgb(112, 112, 112);
  padding: 1px 5px;
  border-radius: 5px;
}
nav > a:hover, nav > a:focus {
  background-color: gray;
}

#openMenu, #closeMenu {
  background-color: transparent;
  overflow: none;
  display: none;
}
#openMenu {
  border: none;
  font-size: 30px;
}
#openMenu:hover {
  cursor: pointer;
}
#closeMenu:hover {
    background-color: gray;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
  #title {
    font-size: 2.2rem;
  }
  #logo {
    height: 60px;
  }
  nav > a, #closeMenu {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  #title {
    font-size: 2.2rem;
  }
  #logo {
    height: 60px;
  }
  #openMenu {
    display: inline-block;
  }
  nav {
    display: none;
    position: absolute;
    padding: 20px;
    top: 0%;
    min-width: 270px;
    border-radius: 0 0 10px 10px;
    width: 70%;
    background-color: rgb(169, 169, 169);
    justify-content: center;
    align-items: center;
  }
  #closeMenu {
    display: inline-block;
    padding: 0px 10px;
  }
}
/* Geral */
a {
  text-decoration: none;
  color: black;
}